<!-- Member Check Container -->
<div class="row" *ngIf="member">

    <!-- Column -->
    <div class="col-4">

        <!-- Card -->
        <div class="card">

            <!-- Profile Image -->
            <img
                [src]="member.photoUrl || './assets/user.png'"
                [alt]="member.knownAs"
                class="card-img-top img-thumbnail"
            >

            <!-- Card Body -->
            <div class="card-body">

                <!-- Location -->
                <div>
                    <strong>Location:</strong>
                    <p>{{ member.city }}, {{ member.country }}</p>
                </div>

                <!-- Age -->
                <div>
                    <strong>Age:</strong>
                    <p>{{ member.age }}</p>
                </div>

                <!-- Last Active -->
                <div>
                    <strong>Last active:</strong>
                    <p>{{ member.lastActive }}</p>
                </div>

                <!-- Member Since -->
                <div>
                    <strong>Member Since:</strong>
                    <p>{{ member.created }}</p>
                </div>

            </div>

            <!-- Card Footer -->
            <div class="card-footer">

                <!-- Like / Message Button Group -->
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>

            </div>

        </div>

    </div>

    <!-- Member Details -->
    <div class="col-8">

        <!-- Tabs -->
        <tabset class="member-tabset">

            <!-- About -->
            <tab heading="About {{member.knownAs}}">
                <h4>Introduction</h4>
                <p>{{ member.introduction }}</p>
                <h4>Looking for</h4>
                <p>{{ member.lookingFor }}</p>
            </tab>

            <!-- Interests -->
            <tab heading="Interests">
                <h4>Interests</h4>
                <p>{{ member.interests }}</p>
            </tab>

            <!-- Photos -->
            <tab heading="Photos" #photoTab="tab">
                <gallery *ngIf="photoTab.active" [items]="images" class="gallery"></gallery>
            </tab>

            <!-- Messages -->
            <tab heading="Messages">
                <p>Messages will go here</p>
            </tab>

        </tabset>
 
    </div>

</div>
