<!-- Member Check Container -->
<div class="row" *ngIf="member">

    <!-- Title -->
    <div class="col-4">
        <h1>Your Profile</h1>
    </div>

    <!-- Alert -->
    <div class="col-8">
        <div class="alert alert-light pb-0" *ngIf="editForm.dirty">
            <p><strong>Information: </strong>You have made changes. Any unsaved changes will be lost.</p>
        </div>
    </div>

    <!-- Column -->
    <div class="col-4">

        <!-- Card -->
        <div class="card">

            <!-- Profile Image -->
            <img
                [src]="member.photoUrl || './assets/user.png'"
                [alt]="member.knownAs"
                class="card-img-top img-thumbnail"
            >

            <!-- Card Body -->
            <div class="card-body">

                <!-- Location -->
                <div>
                    <strong>Location:</strong>
                    <p>{{ member.city }}, {{ member.country }}</p>
                </div>

                <!-- Age -->
                <div>
                    <strong>Age:</strong>
                    <p>{{ member.age }}</p>
                </div>

                <!-- Last Active -->
                <div>
                    <strong>Last active:</strong>
                    <p>{{ member.lastActive }}</p>
                </div>

                <!-- Member Since -->
                <div>
                    <strong>Member Since:</strong>
                    <p>{{ member.created }}</p>
                </div>

            </div>

            <!-- Card Footer -->
            <div class="card-footer">

                <!-- Save Changes -->
                <button
                    class="btn btn-success col-12"
                    form="editForm"
                    type="submit"
                    [disabled]="!editForm.dirty"
                >
                    Save Changes
                </button>

            </div>

        </div>

    </div>

    <!-- Member Details -->
    <div class="col-8">

        <!-- Tabs -->
        <tabset class="member-tabset">

            <!-- About -->
            <tab heading="About {{member.knownAs}}">

                <form #editForm="ngForm" (submit)="updateMember()" id="editForm">

                    <h4 class="mt-2">Description</h4>
                    <textarea
                        class="form-control"
                        [(ngModel)]="member.introduction"
                        name="introduction"
                        rows="6"
                    ></textarea>

                    <h4 class="mt-2">Looking For</h4>
                    <textarea
                        class="form-control"
                        [(ngModel)]="member.lookingFor"
                        name="lookingFor"
                        rows="6"
                    ></textarea>

                    <h4 class="mt-2">Interests</h4>
                    <textarea
                        class="form-control"
                        [(ngModel)]="member.interests"
                        name="interests"
                        rows="6"
                    ></textarea>

                    <h4 class="mt-2">Location Details</h4>
                    <div class="d-flex flex-row align-items-center">
                        <label for="city">City: </label>
                        <input type="text" [(ngModel)]="member.city" name="city" class="form-control mx-2">

                        <label for="country">Country: </label>
                        <input type="text" [(ngModel)]="member.country" name="country" class="form-control mx-2">
                    </div>

                </form>

            </tab>

            <!-- Interests -->
            <tab heading="Edit Photos">
                <p>Photo edit will go here</p>
            </tab>

        </tabset>
 
    </div>

</div>
