<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">

    <!-- Title -->
    <h2 class="text-center text-primary">
        Sign Up
    </h2>

    <hr>

    <!-- Username -->
    <div class="mb-3">
        <input
            type="text" 
            class="form-control" 
            formControlName="username"
            placeholder="Username"
            [class.is-invalid]="registerForm.get('username')?.errors && registerForm.get('username')?.touched"
        >

        <!-- Validation: Required -->
        <div class="invalid-feedback">Please enter a username</div>

    </div>

    <!-- Password -->
    <div class="mb-3">
        <input
            type="password" 
            class="form-control" 
            formControlName="password"
            placeholder="Password"
            [class.is-invalid]="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
        >

        <!-- Validation: Required -->
        <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('required')">Please enter a password</div>

        <!-- Validation: Minimum Length -->
        <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('minlength')">Minimum length is 4 characters</div>

        <!-- Validation: Maxmimum Length -->
        <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('maxlength')">Maximum length is 8 characters</div>

    </div>

    <!-- Confirm Password -->
    <div class="mb-3">
        <input
            type="password" 
            class="form-control" 
            formControlName="confirmPassword"
            placeholder="Confirm Password"
            [class.is-invalid]="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched"
        >

        <!-- Validation: Required -->
        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Please confirm password</div>

        <!-- Validation: Passwords Match -->
        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('notMatching')">Passwords do not match</div>

    </div>

    <!-- Register / Cancel -->
    <div class="form-group text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default me-2" (click)="cancel()" type="button">Cancel</button>
    </div>

</form>

<p>Form Value</p>
<pre>{{ registerForm.value | json }}</pre>

<p>Form Status</p>
<pre>{{ registerForm.status | json }}</pre>
