<!-- Nav Bar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <!-- Container -->
    <div class="container">

        <!-- Title -->
        <a class="navbar-brand" routerLink="/">
            Dating App
        </a>

        <!-- Links -->
        <ul class="navbar-nav me-auto mb-2 mb-md-0">

            <!-- Matches -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
            </li>

            <!-- Lists -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
            </li>

            <!-- Messages -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
            </li>

        </ul>

        <!-- Dropdown Menu -->
        <div class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>

            <!-- Dropdown Title -->
            <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>
                Welcome {{ model.username | titlecase }}
            </a>

            <!-- Menu Items -->
            <div class="dropdown-menu" *dropdownMenu>

                <!-- Edit Profile -->
                <a class="dropdown-item">
                    Edit Profile
                </a>

                <!-- Logout -->
                <a class="dropdown-item" (click)="logout()">
                    Logout
                </a>

            </div>

        </div>

        <!-- Search -->
        <form class="d-flex" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off" *ngIf="!(accountService.currentUser$ | async)">

            <!-- Username -->
            <input
                name="username"
                [(ngModel)]="model.username"
                class="form-control me-2"
                type="text"
                placeholder="Username"
            >

            <!-- Password -->
            <input
                name="password"
                [(ngModel)]="model.password"
                class="form-control me-2"
                type="password"
                placeholder="Password"
            >

            <!-- Login Button -->
            <button
                class="btn btn-outline-light"
                type="submit"
            >
                Login
            </button>

        </form>

    </div>

</nav>
